.promo {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  grid-area: about;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 27rem;
    height: auto;
  }
  h1 {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }
  h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 2.4rem;
  }
}

.social {
  margin-top: 20px;
  display: flex;
  list-style: none;
  li {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
  }
  li+li{
    margin-left: 30px;
  }
}
