.img {
  display: block;
  width: auto;
  height: 280px;
  border-radius: 15px;
}
.screenshots {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.screenshots .container {
  position: relative;
}
.screenshots .container .img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 300px;
  border-radius: 15px;
}
.element {
  width: 100%;
  height: 75vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
  grid-template-columns: 50% 50%;
  grid-template-areas: "description  screenshot";
  padding: 0 25px;
}
.element + .element {
  margin-top: 20px;
}
.screenshots {
  grid-area: screenshot;
}
.description {
  grid-area: description;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description h2 {
  color: #201e45;
}
.description ul {
  margin-left: 20px;
  margin-bottom: 10px;
}
.techs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.techs img {
  height: 100px;
  width: auto;
}
.techs img + img {
  margin-left: 20px;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .element {
    height: 70vh;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "description" "screenshot";
  }
  .element .description .techs img {
    height: 50px;
    width: auto;
  }
  .element .screenshots {
    -ms-grid-row-align: center;
    align-self: center;
  }
  .element .screenshots .img {
    width: 95%;
    height: auto;
  }
}
